
/* Start Main CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color:#0AC05E;
    --black:#e2e8f0;
    --bg:#FAFAFA;
    --border:.1rem solid rgba(255, 255, 255, 0.952);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #0AC05E;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#000000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

/* .btn:hover{
    letter-spacing: .2rem;
} */

/* End Main CSS */



/* Start Header Nav */

.header{
    /* background: var(--bg); */
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 7%;
    /* border-bottom: var(--border); */
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 4rem;
}

.header .navbar a{
    margin:0 1.5rem;
    font-size: 1.6rem;
    color:rgba(0, 0, 0, .7);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:rgba(0, 0, 0, .7);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #0AC05E;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

/* END Header */


/* Start Jumbotron */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 0rem;
    margin-right: 0rem;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    /*text-transform: capitalize;*/
    color:#0AC05E;
}

.home .content span{
    font-size: 6rem;
    color:#313131;
}

.home .content p{
    font-size: 2rem;
    font-weight:200;
    line-height: 1.8;
    padding:1rem 0 3rem 0;
    color:#313131;
}

/* End Jumbotron */



/* Start About Us */

.about .row{
    display: flex;
    align-items: center;
    /* background:var(--black); */
    background:#fff;
    flex-wrap: wrap;
    border-radius: 25px;
    margin-bottom: 50px;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 25px 0px 0px 25px;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#0AC05E;
}

.about .row .content p{
    font-size: 1.6rem;
    color:rgb(145, 141, 141);
    padding:1rem 0;
    line-height: 1.8;
}

/* End About Us */



/* Start Menu */

#menu {
    background-color: #fff;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    background-color: #f7f7f8;
    border-radius: 20px;
    text-align: center;
    /* border:var(--border);  */
    /* border: .8px solid #0AC05E; */
}

.menu .box-container .box img{
    height: 10rem;
    border-radius: 50%;
}

.menu .box-container .box h3{
    color: #313131;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #313131;
    font-size: 2rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    /* background: #aaa; */
    cursor: pointer;
}

.menu .box-container .box:hover{
    background:#0AC05E;
    color:#fafafa;
}

.menu .box-container .box:hover > h3, 
.menu .box-container .box:hover > .price {
    /* color:var(--black);  */
    color:#fafafa;
}

.menu .box-container .box:hover > .btn {
    background: #fff;
    color: #0AC05E;
} 

/* End Menu */


/* Start Responsive CSS */

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/* End Responsive CSS */