/* main css starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-color: #0AC05E;
    --secondary: #E2E8F0;
    --bg: #FAFAFA;
    --white: #FFFFFF;
    --border: 0.1rem solid rgba(255, 255, 255, 0.952);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: var(--white);
    background: var(--main-color);
    cursor: pointer;
}

/* main css ends */



/* header nav starts */

.header {
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 4rem;
}

.header .navbar a {
    margin: 0 1.5rem;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.header .icons div {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--main-color);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid var(--main-color);
    padding: 1rem;
    margin-right: 12px;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--secondary);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 15rem);
    width: 35rem;
    background: #24262b;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--secondary);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--secondary);
    padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    background-color: var(--white);
    color: var(--main-color);
}

.header .cart-items-container .btn:hover {
    background: var(--main-color);
    color: var(--white);
}

/* header nav ends */



/* home section starts */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/home-img.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 0rem;
    margin-right: 0rem;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: capitalize;
    color: var(--main-color);
}

.home .content span {
    font-size: 6rem;
    color: #313131;
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0 2rem 0;
    color: grey;
    text-transform: none;
}

/* home section ends */



/* about section starts */

.about h1 {
    margin: 30px 0 15px 0;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--white);
    flex-wrap: wrap;
    border-radius: 25px;
    margin-bottom: 50px;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
    border-radius: 25px 0px 0px 25px;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2.5rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--main-color);
}

.about .row .content p {
    font-size: 1.6rem;
    color: rgb(145, 141, 141);
    padding: 1rem 0;
    line-height: 1.8;
}

/* about section ends */



/* products menu section starts */

#menu {
    background-color: var(--white);
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    background-color: #f7f7f8;
    border-radius: 20px;
    text-align: center;
}

.menu .box-container .box img {
    height: 10rem;
    border-radius: 100px;
}

.menu .box-container .box h3 {
    color: #313131;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #313131;
    font-size: 2rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
}

.menu .box-container .box:hover {
    background: var(--main-color);
    color: var(--bg);
}

.menu .box-container .box:hover>h3,
.menu .box-container .box:hover>.price {
    color: var(--bg);
}

.menu .box-container .box:hover>.btn {
    background: var(--white);
    color: var(--main-color);
}

/* products menu section ends */



/* special products section starts */

.products h1 {
    margin: 20px 0 10px 0;
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 1px solid var(--main-color);
    margin: 0 5px 0 5px;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    margin: 0.3rem;
    border: 1px solid var(--main-color);
    color: rgba(0, 0, 0, 0.7);
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
    color: var(--white);
    border-radius: 10px;
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 2.5rem;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price {
    color: rgba(0, 0, 0, 0.9);
    font-size: 2.5rem;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

/* special products section ends */



/* review section starts */

.review h1 {
    margin: 20px 0 10px 0;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: 1px solid whitesmoke;
    text-align: center;
    padding: 3rem 2rem;
    background-color: var(--white);
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.6);
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.9);
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

/* review section ends */



/* contact section starts */

.contact .row {
    display: flex;
    background: var(--main-color);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--white);
    margin: 0 0 25px 0;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #f7f7f7;
    border: var(--border);
}

.contact .row form .inputBox span {
    color: var(--main-color);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.7);
    text-transform: none;
    background: none;
}

.contact .row form .btn {
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid var(--white);
}

.contact .row form .btn:hover {
    background-color: var(--white);
    color: var(--main-color);
}

/* contact section ends */



/* article section starts */

.blogs h1 {
    margin: 25px 0 10px 0;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 50px;
}

.blogs .box-container .box {
    border: 1px solid whitesmoke;
    background-color: var(--white);
    margin: 0 20px 0 20px;
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 16px;
}

.blogs .box-container .box .content p {
    font-size: 14px;
    line-height: 1.8;
    color: grey;
    padding: 1rem 0;
}

/* article section ends */



/* footer section starts */

/* call sections starts */
.footer-cta {
    border-bottom: 1px solid #373636;
    padding: 0px 0 40px 0;
}

.footer-cta .row {
    display: flex;
}

.footer-cta .row .col {
    flex: 1;
    padding-left: 10px;
}

.footer-cta .row .one {
    flex: 1.25;
}

.single-cta i {
    color: var(--main-color);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
    text-transform: none;
}

/* call section ends */


.footer .container {
    max-width: 1170px;
    margin: auto;
}

.footer .main {
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container .footer-col {
    flex: 1;
}

.footer .container .satu {
    flex: 2;
}

.footer-col ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 50px 0 0 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}


/* follow us starts */

.footer-section {
    background: #151414;
    position: relative;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    max-width: 280px;

}

.footer-text p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

/* follow us ends */


.footer-col h4 {
    font-size: 18px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--main-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--white);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--white);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: var(--white);
}

.copyright-area {
    background: #202020;
    margin-top: 25px;
    padding: 25px 0;
}

.copyright-area .container {
    display: flex;
    justify-content: space-between;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: var(--main-color);
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: var(--main-color);
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

/* footer section ends */



/* responsive css starts */

/* media queries  */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--white);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--secondary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/* responsive css ends */